{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>日記</title>
    <link rel="stylesheet" href="{% static 'vs/chat.css' %}">
</head>
<body>

<h1 class="title">日記</h1>

    <div class="chat-box" id="chat-box">
        {% for message in messages %}
            <div class="bubble {% if message.name == my_name %}me{% else %}other{% endif %}">
                
                <p class="name">{{ message.name }}</p>

                <p class="content">{{ message.content }}</p>

                <span class="time">
                    {{ message.created_at|date:"m/d(D) H:i" }}
                </span>

            </div>
        {% endfor %}
    </div>

    <form method="post" class="chat-form">
        {% csrf_token %}
        <input type="text" name="content" placeholder="メッセージを入力">
        <button type="submit">送信</button>
    </form>

    <div class="back-link-container">
        <a href="{% url 'vs:index' %}" class="back-btn">← 戻る</a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const chatBox = document.getElementById('chat-box');
            // チャットボックスの一番下までスクロールさせる
            chatBox.scrollTop = chatBox.scrollHeight;
        });
    </script>
</body>
</html>